<!-- navigation.component.html -->
<ng-container >
    <div class="navbar-content" style="padding-top: 90px;"> 
      <ul class="nav coded-inner-navbar">
        @for (item of navItems; track trackByFn($index, item)) {
          <!-- Group Type -->
          @if (item.type === 'group') {
            <app-nav-group [item]="item" />
          }
          
          <!-- Collapse Type -->
          @else if (item.type === 'collapse') {
            <app-nav-collapse [item]="item" />
          }
          
          <!-- Item Type -->
          @else if (item.type === 'item') {
            <app-nav-item [item]="item" />
          }
        }
      </ul>
    </div>
</ng-container>
